.site-mini-header {
    font-size: 12px;
    border-bottom: 2px solid #ff6700;
    background: #fff;
    color: #b0b0b0;
    position: relative;
    z-index: 20;
    height: 100px;
}
.container {
    width: 1226px;
    margin-right: auto;
    margin-left: auto;
}
.site-mini-header .header-logo {
    width: 93px;
    margin-top: 26px;
    float: left;
}
.site-mini-header .header-logo .logo {
    position: relative;
    display: block;
    width: 48px;
    height: 48px;
    overflow: hidden;
}
.ir {
    display: block;
    text-align: left;
    text-indent: -9999em;
    overflow: hidden;
}
a, a:hover {
    text-decoration: none;
}
a {
    color: #757575;
}
a {
    background-color: rgba(0,0,0,0);
}
.site-mini-header .has-more {
    height: 48px;
}
.site-mini-header .header-title {
    float: left;
    margin-top: 26px;
}
.site-mini-header .has-more h2 {
    float: left;
    line-height: 48px;
    margin-bottom: 0;
    font-size: 28px;
}
.site-mini-header .header-title h2 {
    font-size: 28px;
    line-height: 48px;
    font-weight: 400;
    color: #424242;
}
.site-mini-header .header-title h2, .site-mini-header .header-title p {
    margin: 0;
    margin-bottom: 0px;
}
.site-mini-header {
    font-size: 12px;
    color: #b0b0b0;
}
.site-topbar .topbar-info {
    position: relative;
    float: right;
    height: 40px;
    line-height: 40px;
}
.site-topbar .topbar-info .link, .site-topbar .topbar-info .message, .site-topbar .topbar-info .sep, .site-topbar .topbar-info .user {
    float: left;
}
.site-mini-header .topbar-info .link, .site-mini-header .topbar-info .message, .site-mini-header .topbar-info .sep, .site-mini-header .topbar-info .user {
    float: left;
}
.site-topbar .user {
    position: relative;
    width: 110px;
    padding: 0;
    white-space: nowrap;
}
.site-topbar .user-name {
    position: relative;
    z-index: 5;
    display: block;
    width: 110px;
    height: 40px;
    text-align: center;
}
.site-topbar .user-name .name {
    display: inline-block;
    width: auto;
    max-width: 75px;
    text-overflow: ellipsis;
    vertical-align: text-bottom;
    overflow: hidden;
}
.site-topbar .user-name i {
    font-size: 24px;
    line-height: 24px;
    vertical-align: 9px;
}
[class*="iconfont"] {
    font-family: iconfont !important;
    font-style: normal;
    -webkit-font-smoothing: antialiased;
    -webkit-text-stroke-width: .2px;
    -moz-osx-font-smoothing: grayscale;
}
.site-topbar .topbar-info .link-order {
    width: 70px;
}
.site-topbar .topbar-info .link {
    padding: 0 5px;
    text-align: center;
}
.site-topbar .topbar-info .link, .site-topbar .topbar-info .message, .site-topbar .topbar-info .sep, .site-topbar .topbar-info .user {
    float: left;
}
.site-mini-header .topbar-info .link {
    padding: 0 5px;
}
.site-mini-header .topbar-info .link, .site-mini-header .topbar-info .message, .site-mini-header .topbar-info .sep, .site-mini-header .topbar-info .user {
    float: left;
}
a, a:hover {
    text-decoration: none;
}
a {
    color: #757575;
}
a {
    background-color: rgba(0,0,0,0);
}
.site-mini-header .header-logo .logo::after, .site-mini-header .header-logo .logo::before {
    background: url(/images/milogo.png) no-repeat;
    background-size: auto;
    background-size: 48px 48px;
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
}
.site-mini-header .header-logo .logo::before {
    opacity: 1;
}
.site-mini-header .header-logo .logo::after, .site-mini-header .header-logo .logo::before {
    position: absolute;
    left: 0;
    top: 0;
    z-index: 1;
    width: 48px;
    height: 48px;
    content: "";
    -webkit-transform-origin: 50% 50%;
    -ms-transform-origin: 50% 50%;
    transform-origin: 50% 50%;
}
.page-main {
    padding: 40px 0 60px;
}
.page-main {
    background: #f5f5f5;
}
.page-main .container {
    width: 1226px;
    margin: 0 auto;
    background: #fff;
}
.container::after, .container::before {
    content: " ";
    display: table;
}
.checkout-detail {
    position: relative;
    padding: 48px 0 0;
    margin-bottom: 45px;
}
.checkout-detail .detail-section {
    position: relative;
    padding: 0 24px;
}
.checkout-detail .address-detail .address-header {
    margin: 0 0 20px;
}
.checkout-detail .address-detail .address-header .header-title {
    color: #333;
    font-size: 18px;
    line-height: 20px;
}
.address-list .address-item{
    display: inline-block;
    width: 268px;
    height: 178px;
    border: 1px solid #e0e0e0;
    cursor: pointer;
    position: relative;
    margin-right: 17px;
    margin-bottom: 20px;
    vertical-align: top;
    -webkit-transition: all .4s ease;
    transition: all .4s ease;
}
.address-list .name {
    font-size: 18px;
    color: #333;
    line-height: 30px;
    margin-bottom: 10px;
}

.address-list .address-con span {
    display: inline-block;
    margin-right: 3px;
    word-wrap: break-word;
}
.address-list .address-action, .address-list .address-info, .address-list .telephone {
    line-height: 22px;
    color: #757575;
}
.address-list .address-info {
    padding: 15px 24px 0;
}
.address-list .address-con span {
    display: inline-block;
    margin-right: 3px;
    word-wrap: break-word;
}
.address-list .address-con .info {
    width: 100%;
}
.checkout-detail .detail-section .detail-header {
    color: #333;
    font-size: 18px;
    line-height: 40px;
}
.goods-list {
    padding: 5px 0;
    border-bottom: 1px solid #e0e0e0;
}
.goods-list .good-item {
    position: relative;
    padding: 15px 0;
}
.goods-list .good-item .good-img img {
    width: 100px;
    height: 100px;
}
img {
    border: 0;
}
.goods-list .good-item .good-name {
    width: 650px;
}
.goods-list .good-item .item-desc {
    display: inline-block;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    line-height: 1;
    color: #424242;
    vertical-align: middle;
}
.goods-list .good-item .item-desc {
    display: inline-block;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    line-height: 1;
    color: #424242;
    vertical-align: middle;
}
.goods-list .good-item .good-price {
    width: 150px;
    text-align: center;
}
.goods-list .good-item .item-desc {
    display: inline-block;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    line-height: 1;
    color: #424242;
    vertical-align: middle;
}
.goods-list .good-item .good-total {
    width: 190px;
    text-align: right;
    color: #ff6701;
}
.goods-list .good-item .item-desc {
    display: inline-block;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    line-height: 1;
    color: #424242;
    vertical-align: middle;
}
.checkout-detail .detail-section .section-options {
    padding: 25px 0;
    border-bottom: 1px solid #e0e0e0;
}
.checkout-detail .detail-section .section-options .options-header {
    width: 150px;
}
.checkout-detail .detail-section .section-options .options-desc {
    display: inline-block;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}
.checkout-detail .detail-section .section-options .options-header .title {
    color: #333;
    font-size: 18px;
    line-height: 38px;
}
.checkout-detail .detail-section .section-options .options-desc {
    display: inline-block;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}
.checkout-detail .detail-section .section-options .options-list {
    width: 960px;
}
.checkout-detail .detail-section .section-options .options-list .selected {
    border-color: #fff;
    color: #ff6700;
}
.checkout-detail .detail-section .section-options .options-list .options-item {
    display: inline-block;
    height: 38px;
    line-height: 38px;
    margin-right: 14px;
    border: 1px solid #fff;
    border-top-color: rgb(255, 255, 255);
    border-right-color: rgb(255, 255, 255);
    border-bottom-color: rgb(255, 255, 255);
    border-left-color: rgb(255, 255, 255);
    color: #333;
}
.checkout-detail .count-detail {
    position: relative;
    min-height: 200px;
    padding: 20px 0;
    margin: 0 48px;
}
.checkout-detail .detail-section {
    position: relative;
    padding: 0 24px;
}
.checkout-detail .count-detail .section-bill {
    position: absolute;
    right: 0;
    bottom: 20px;
}
.checkout-detail .count-detail .section-bill .bill-item {
    position: relative;
    padding-left: 126px;
    line-height: 2;
    text-align: right;
}
.checkout-detail .count-detail .section-bill .bill-item .bill-name {
    position: absolute;
    top: 0;
    left: 0;
    width: 126px;
    white-space: nowrap;
    color: #757575;
}
.checkout-detail .count-detail .section-bill .bill-item .bill-money {
    color: #ff6700;
}
.checkout-detail .count-detail .section-bill .bill-item {
    position: relative;
    padding-left: 126px;
    line-height: 2;
    text-align: right;
}
.checkout-detail .count-detail .section-bill .total-price{
    margin: 10px 0 0;
}
.checkout-detail .count-detail .section-bill .bill-item .bill-name {
    position: absolute;
    top: 0;
    left: 0;
    width: 126px;
    white-space: nowrap;
    color: #757575;
}
.checkout-detail .count-detail .section-bill .total-price .bill-name {
    margin-top: 5px;
}
.checkout-detail .count-detail .section-bill .bill-item .bill-money {
    color: #ff6700;
}
.checkout-detail .count-detail .section-bill .bill-item {
    line-height: 2;
    text-align: right;
}
.clearfix::after, .clearfix::before {
    content: " ";
    display: table;
}
.clearfix::after, .clearfix::before {
    content: " ";
    display: table;
}
.checkout-detail .footer-detail .handle-action {
    float: right;
}
.checkout-detail .footer-detail .handle-action .btn {
    float: right;
    margin-left: 30px;
    vertical-align: top;
}
.btn-primary {
    background: #ff6700;
    border-color: #ff6700;
    color: #fff;
}
.btn {
    display: inline-block;
    width: 158px;
    height: 38px;
    padding: 0;
    margin: 0;
    margin-left: 0px;
    border: 1px solid #b0b0b0;
    border-top-color: rgb(176, 176, 176);
    border-right-color: rgb(176, 176, 176);
    border-bottom-color: rgb(176, 176, 176);
    border-left-color: rgb(176, 176, 176);
    font-size: 14px;
    line-height: 38px;
    text-align: center;
    color: #b0b0b0;
    cursor: pointer;
    -webkit-transition: all .4s;
    transition: all .4s;
}
a {
    background-color: rgba(0,0,0,0);
}
a {
    color: #757575;
    text-decoration: none;
}
.btn-primary {
    background: #ff6700;
    border-color: #ff6700;
    color: #fff;
}
.checkout-detail .footer-detail .handle-action .btn {
    float: right;
    margin-left: 30px;
    vertical-align: top;
}
.btn {
    display: inline-block;
    width: 158px;
    height: 38px;
    padding: 0;
    margin: 0;
    margin-left: 0px;
    border: 1px solid #b0b0b0;
    font-size: 14px;
    line-height: 38px;
    text-align: center;
    color: #b0b0b0;
    cursor: pointer;
    -webkit-transition: all .4s;
    transition: all .4s;
}
body {
    margin: 0;
    font-size: 16px;
}