.site-mini-header {
    font-size: 12px;
    border-bottom: 2px solid #ff6700;
    background: #fff;
    color: #b0b0b0;
    position: relative;
    z-index: 20;
    height: 100px;
}
.site-mini-header .header-logo {
    width: 95px;
    margin-top: 23px;
    float: left;
}
.site-mini-header .has-more {
    height: 48px;
}
.site-mini-header .header-title {
    float: left;
    margin-top: 26px;
}
.site-mini-header .has-more h2 {
    float: left;
    line-height: 48px;
    margin-bottom: 0;
    font-size: 28px;
}
.site-mini-header .header-title h2 {
    font-size: 28px;
    line-height: 48px;
    font-weight: 400;
    color: #424242;
}
.site-mini-header .header-title h2, .site-mini-header .header-title p {
    margin: 0;
    margin-bottom: 0px;
}
.site-mini-header {
    font-size: 12px;
    color: #b0b0b0;
}
.site-topbar .topbar-info {
    position: relative;
    float: right;
    height: 40px;
    line-height: 40px;
}
.site-mini-header .topbar-info {
    position: relative;
    float: right;
    height: 40px;
    line-height: 40px;
    margin-top: 30px;
}
.site-topbar .topbar-info .link, .site-topbar .topbar-info .message, .site-topbar .topbar-info .sep, .site-topbar .topbar-info .user {
    float: left;
}
.site-mini-header .topbar-info .link, .site-mini-header .topbar-info .message, .site-mini-header .topbar-info .sep, .site-mini-header .topbar-info .user {
    float: left;
}
.site-topbar .user {
    position: relative;
    width: 110px;
    padding: 0;
    white-space: nowrap;
}
.site-topbar .user-name {
    position: relative;
    z-index: 5;
    display: block;
    width: 110px;
    height: 40px;
    text-align: center;
}
a, a:hover {
    text-decoration: none;
}
a {
    color: #757575;
}
a {
    background-color: rgba(0,0,0,0);
}
.site-topbar .topbar-info .sep {
    margin: 0;
}
.site-topbar .topbar-info .link, .site-topbar .topbar-info .message, .site-topbar .topbar-info .sep, .site-topbar .topbar-info .user {
    float: left;
}
.site-mini-header .topbar-info .link, .site-mini-header .topbar-info .message, .site-mini-header .topbar-info .sep, .site-mini-header .topbar-info .user {
    float: left;
}
.ndash, .sep {
    margin: 0 .25em;
    font-family: sans-serif;
}
.site-topbar .topbar-info .link-order {
    width: 70px;
}
.site-topbar .topbar-info .link {
    padding: 0 5px;
    text-align: center;
}
.site-topbar .topbar-info .link, .site-topbar .topbar-info .message, .site-topbar .topbar-info .sep, .site-topbar .topbar-info .user {
    float: left;
}
.page-main {
    background: #f5f5f5;
}
.page-main {
    padding: 38px 0;
}
.container {
    width: 1226px;
    margin-right: auto;
    margin-left: auto;
}

.page-main .section  {
    padding: 30px 48px;
    padding-left: 48px;
    margin-bottom: 30px;
    background-color: #fff;
    color: #424242;
    overflow: hidden;
}
.page-main .section-order  {
    padding-left: 183px;
    position: relative;
}
.page-main .order-info .fl  {
    float: left;
}
.page-main .order-info .title  {
    margin-bottom: 10px;
    font-size: 24px;
    font-weight: 400;
    line-height: 36px;
}
.page-main .section h2 , .page-main .section h3 , .page-main .section li , .page-main .section p  {
    margin: 0;
    margin-bottom: 0px;
    padding: 0;
}
.page-main .section h2, .page-main .section h3, .page-main .section li, .page-main .section p {
    margin: 0;
    padding: 0;
}
.page-main .order-info .order-time  {
    color: #616161;
    margin-bottom: 5px;
    line-height: 2;
}
.page-main .section h2 , .page-main .section h3 , .page-main .section li , .page-main .section p  {
    margin: 0;
    margin-bottom: 0px;
    padding: 0;
}
.page-main .order-info .order-time  {
    color: #616161;
    line-height: 2;
}
.page-main .order-info .order-time span.pay-time-tip  {
    margin: 0 5px;
    color: #ff6700;
}
.page-main .order-info .post-info  {
    color: #616161;
    -webkit-transition: height .3s ease;
    transition: height .3s ease;
}
.page-main .section h2 , .page-main .section h3 , .page-main .section li , .page-main .section p  {
    margin: 0;
    padding: 0;
}
.page-main .order-info .fr  {
    float: right;
    text-align: right;
}
.page-main .order-info .total  {
    margin-bottom: 10px;
    color: #757575;
}
.page-main .money  {
    color: #ff6700;
    font-size: 14px;
}
.page-main .money em  {
    font-style: normal;
    font-size: 24px;
}
.page-main .money {
    color: #ff6700;
    font-size: 14px;
}
.page-main .section-order .icon-right {
    width: 80px;
    height: 80px;
    line-height: 80px;
    position: absolute;
    top: 40px;
    left: 50px;
    font-size: 80px;
    color: #83c44e;
    text-align: center;
    border: 2px solid #83c44e;
    border-radius: 42px;
    overflow: hidden;
}
[class*="iconfont"] {
    font-family: iconfont !important;
    font-style: normal;
    -webkit-font-smoothing: antialiased;
    -webkit-text-stroke-width: .2px;
    -moz-osx-font-smoothing: grayscale;
}